.qr-code-container {
  font-family: Outfit;
  margin: 0;
}
.qr-code-wrapper {
  width: 292px;
  border-radius: 20px;
  padding: 16px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}
.qr-code-image {
  width: 288px;
  border-radius: 10px;
}
.qr-code-heading {
  margin-top: 24px;
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  width: 256px;
}
.qr-code-body {
  margin: 18px 0;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: #7D889E;
  letter-spacing: 0.188px;
  width: 256px;
}
@font-face {
  font-family: Outfit;
  src: url(../fonts/Outfit-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Outfit-light;
  src: url(../fonts/Outfit-Light.ttf) format('truetype');
}
@font-face {
  font-family: Outfit-bold;
  src: url(../fonts/Outfit-Bold.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: #D5E1EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
